<!DOCTYPE html>
<html>
<head><title>MIB Browser</title>
<link rel="stylesheet" href="/static\style.css">
</head>
<body>
  <h1>MIB BROWSER THOMAS I AREN</h1>
  <form method="POST" action="{{ url_for('snmp') }}">
    IP Agent: <input type="text" name="agent_ip" value="10.0.2.5"><br>
    Versió SNMP: 
    <select name="version">
      <option value="1">v1</option>
      <option value="2c">v2c</option>
    </select><br>
    Comunitat: <input type="text" name="community"><br>
    OID: <input type="text" name="oid"><br>
    Operació:
    <select name="operation">
      <option value="get">GET</option>
      <option value="next">NEXT</option>
      <option value="set">SET</option>
      <option value="bulkwalk">BULKWALK</option>
    </select><br>
    <input type="submit" value="Enviar">
  </form>
</body>
</html>
